*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
 .imagen1 {
  margin-left: 300px ;
 }
  .banner > h1 {
    margin-left: 150px ;
  }  
.navegacion {
    width: 1200px;
    margin: 0px auto ;
    background: #fff;
}
.navegacion ul{
list-style: none;
}
.ulmenu > li {
    position: relative;
    display: inline-block;
}
.ulmenu > li > a {
    display: block;
    padding: 15px 20px;
    color: blue;
    text-decoration: none;
}
.ulmenu li a:hover{
    color: orangered;
    transition: all .3s;
}
.ulsubmenu{
    position: absolute;
    background: blue;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    }
.ulsubmenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.ulmenu li:hover .ulsubmenu{
    visibility: visible;
    opacity: 1;
    }

#contenedor {
    width: 0px auto;
    height: 0px auto;
    margin: 0px auto;
    top: 0px auto;
    background :rgb(218, 241, 241);
    font-family: cursive;
}


#ender {
    height: 350px;
    width: 550px;
    
    display:inline-block;
    margin: 50px; 
}
#enizq {
    height: 350px;
    width: 550px;
  
    display:inline-block;
    margin: 60px;
}
figure {
    margin: 15px;
    top: 9px;
    
    float: left;
}
#enydatos {
    
      width: 1200px auto;
      
 }


  #enlaces {
        border:3px solid black;
    height: 250px;
    width: 500px;
    background:aqua;
    font-size: 25px;
    color:blue;
    margin: 50px ;
    top: 20px;
    text-decoration:none;
    float: left;
        }
    a:link {
        color:red;
      }
      a:hover {
        color:green;
        text-decoration:none;
      }
      a:visited {
        color:purple;
      }
      a:active {
        color:lime;
      }

    
   .link li {
      font-size:20px;
      margin-left: 75px ;
    }
 #tabla{
  display:inline-block;
  
 }

  #tabla1 {
    border:3px solid black;
    height: 200px;
    width: 500px;
    margin: 60px ;
    top: 20px;
  }
  #captabla1 {
      font-size: 25px;
      align-content: center;
      }
      table,td {
        border:1px solid black;
      }
      td {
        padding:10px;
        text-align: right;
      }
        #formu {
          margin: 30px  300px;
         
        }
        #formulario {
          margin: 0px auto;
        }
        #pie {
          align-content: center;
        }
        .tex {
            padding:10px;
            text-align: right;
                      }
        .in {
            float: left;
                     }      