#uno{
    background-color:#96281B;
    height: 200px;
    color: white;
  }
  #dos{
    background-color:#F89406;
    height: 100px;
    color: white;
  }
  #tres{
    background-color:#03c9a9;
    height: 100px;
    color: white;