* {
    margin: 0px;
    padding: 0px;
}
#cabecera h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: black
}


#encabe a {
    float: left;
    font-size: 20px;
    color: dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a#en {
    float: right;
    font-size: 20px;
    color: dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
#menu li {
display: inline-block; 


}